@font-face {
  font-family: "iconfont"; /* Project id 3789102 */
  src: url('/static/custom-icon/yuan/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuan:before {
  content: "\e73d";
}

